<p id="notice"><%= notice %></p>
<h1>Exercise Template#show</h1>
<%= render partial: 'display_exercise_template', locals: {exercise_template: @exercise_template} %>
<%= link_to 'Edit', edit_exercise_template_path(@exercise_template) %> |
<%= link_to 'Back', exercise_templates_path %>
