<h1>Programs#index</h1>
<p>Find me in app/views/programs/index.html.erb</p>

<% @programs.each do |program| %>
  <%= link_to program.name, program_path(program) %>
  <br>
<% end %>
<%= link_to @current_programs_text, @current_programs_link %><br>
<%= link_to 'Create New Program', new_program_path %>
