<h1>Leaderboard</h1>

<table>
  <tr>
    <th>
      Rank
    </th>
    <th>
      Name
    </th>
    <th>
      Date Joined
    </th>
    <th>
      Workouts Performed
    </th>
  </tr>
  <% @leaderboard.each do |user| %>
    <tr>
      <td>
        <%= user.rank %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.created_at.strftime('%d %b. %Y') %>
      </td>
      <td>
        <%= user.workouts.count %>
      </td>
    </tr>
  <% end %>
</table>
