<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>Should be accessable only to logged in user.</p>
<p>Link To Program Index (/programs)</p>
<p>Link To User Programs (/user/:id/programs)</p>
<p>Link to next workout. /users/:id/next-workout (Pre-calculated form to create a new workout.)</p>

<p>Link to delete account.</p>
<p>Link to edit account.</p>
<%= render 'layouts/login_nav' %>
