<h1>Welcome To RailsLifts!</h1>
<h3>Created by Nathaniel Miller</h3>
<p>
  Create Exercises, Workouts and Programs in your quest to get fit.<br>
  Easily keep track of your previous workouts in order to assure you progress!
</p>
