
<div class="form-group">
  <% unless creating_new_'program' %>
    <%= link_to 'Create New Program', new_program_path, class: "newProgram btn btn-default" %>
  <% end %>
  <% unless creating_new_'workout_template' %>
    <%= link_to 'Create New Workout Template', new_workout_template_path, class: " newWorkoutTemplate btn btn-default" %>
  <% end %>
</div>
