<table class='table'>
  <tr>
    <th>
      Exercise
    </th>
    <th>
      Sets
    </th>
    <th>
      Reps
    </th>
    <th>
      Weight (lbs)
    </th>
    <th>
      Rest (seconds)
    </th>
  </tr>
  <%= yield %>
</table>
